Repository w3c/aria, changes with the labels that .github/labeler.yml gives for each.
All labels: spec:aria, spec:accname, spec:core-aam, spec:dpub-aam, spec:dpub-aria, spec:graphics-aam, spec:graphics-aria, spec:html-aam, spec:svg-aam, spec:mathml-aam, spec:pdf-aam

Editorial: Cross-link Accessibility Interop contribution guidelines in ARIA documentation (#2532)
  documentation/tests.md
Labels: none

fix merge issues
  index.html
Labels: spec:aria

Editorial: add valuetype column to ariamixin correspondance table (#2105)
  index.html
Labels: spec:aria

de-duplicate table
  index.html
Labels: spec:aria

Editorial: Clarify / make consistent naming steps for HTML form controls (#2395)
  html-aam/index.html
Labels: spec:html-aam

uncomment ariaRelevant
  index.html
Labels: spec:aria

add class=def to table
  index.html
Labels: spec:aria

Editorial: de-duplicate table, fixing build (#2541)
  index.html
Labels: spec:aria

Editorial: de-duplicate table, fixing build (#2541)
  index.html
Labels: spec:aria

Update html-aam/index.html
  html-aam/index.html
Labels: spec:html-aam

Fix language for alt text being presentational
  accname/index.html
Labels: spec:accname

update dates
  dpub-aam/index.html
  dpub-aria/index.html
Labels: spec:dpub-aam, spec:dpub-aria

Update index.html
  html-aam/index.html
Labels: spec:html-aam

editorial: remove redundant rfc2119 markup
  graphics-aam/index.html
  graphics-aria/index.html
  index.html
Labels: spec:aria, spec:graphics-aam, spec:graphics-aria

editorial: remove (defunct) .compact from indices
  common/script/aria.js
Labels: none

Update validator-tests/listbox-aria-expanded-not-supported.html
  validator-tests/listbox-aria-expanded-not-supported.html
Labels: none

Editorial: Validator tests for removing "aria-expanded" from listbox support attributes (#2167)
  validator-tests/README.md
  validator-tests/listbox-aria-expanded-not-supported-axe.json
  validator-tests/listbox-aria-expanded-not-supported-vnu.json
  validator-tests/listbox-aria-expanded-not-supported.html
Labels: none

Editorial: Update accname step 2E (Host Language Label) to specify empty string treatment (#2486)
  accname/index.html
Labels: spec:accname

Delete .github/workflows directory
  .github/workflows/RFC-2119-usage.yml
  .github/workflows/accname.yml
  .github/workflows/aria.yml
  .github/workflows/core-aam.yml
  .github/workflows/dpub-aam.yml
  .github/workflows/dpub-aria.yml
  .github/workflows/graphics-aam.yml
  .github/workflows/html-amm.yml
  .github/workflows/labeler.yaml
  .github/workflows/mathml-aam.yml
  .github/workflows/pdf-aam.yml
  .github/workflows/prettier.yaml
Labels: none

editorial: fix abstract-role handling in aria.js
  common/script/aria.js
Labels: none

fixup tables based on PR advice
  pdf-aam/index.html
Labels: spec:pdf-aam

editorial: remove redundant rfc2119 markup (#2553)
  graphics-aam/index.html
  graphics-aria/index.html
  index.html
Labels: spec:aria, spec:graphics-aam, spec:graphics-aria

editorial: remove (defunct) .compact from indices (#2555)
  common/script/aria.js
Labels: none

editorial: remove redundant rfc2119 markup (#2553)
  index.html
Labels: spec:aria

editorial: fix abstract-role handling in aria.js (#2559)
  common/script/aria.js
Labels: none

Remove generic clause
  html-aam/index.html
Labels: spec:html-aam

Another removal
  html-aam/index.html
Labels: spec:html-aam

update id for attribute table
  pdf-aam/index.html
Labels: spec:pdf-aam

Editorial: Update actions and restrict prettier execution to "changed files" only (#2536)
  .github/workflows/prettier.yaml
  dpub-aria/index.html
Labels: spec:dpub-aria

Editorial: Update actions and restrict prettier execution to "changed files" only (#2536)
  index.html
Labels: spec:aria

Adds common path to aria workflow
  .github/workflows/aria.yml
Labels: none

Prevents affecting dpub 1.1 if the workflow triggers
  .github/workflows/dpub-aam.yml
  .github/workflows/dpub-aria.yml
Labels: none

UA SHOULD guidance for roles outside of required a11y parent role
  index.html
Labels: spec:aria

chore: prettier
  index.html
Labels: spec:aria

editorial: definition of "host language"
  index.html
Labels: spec:aria

chore: prettier
  index.html
Labels: spec:aria

editorial: common triggers workflows (#2561)
  .github/workflows/aria.yml
  .github/workflows/dpub-aam.yml
  .github/workflows/dpub-aria.yml
Labels: none

Uses custom action to run prettier on PRs and on pushes to main
  .github/workflows/prettier.yaml
Labels: none

Ensure latest prettier
  .github/workflows/prettier.yaml
Labels: none

Remove duplication
  .github/workflows/prettier.yaml
Labels: none

.github/labeler.yml:

spec:aria:
  - changed-files:
    - any-glob-to-any-file: 'index.html'

spec:accname:
  - changed-files:
    - any-glob-to-any-file: 'accname/**'

spec:core-aam:
  - changed-files:
    - any-glob-to-any-file: 'core-aam/**'

spec:dpub-aam:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aam/**'

spec:dpub-aria:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aria/**'

spec:graphics-aam:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aam/**'

spec:graphics-aria:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aria/**'

spec:html-aam:
  - changed-files:
    - any-glob-to-any-file: 'html-aam/**'

spec:svg-aam:
  - changed-files:
    - any-glob-to-any-file: 'svg-aam/**'

spec:mathml-aam:
  - changed-files:
    - any-glob-to-any-file: 'mathml-aam/**'

spec:pdf-aam:
  - changed-files:
    - any-glob-to-any-file: 'pdf-aam/**'
