Repository w3c/aria, changes with the labels that .github/labeler.yml gives for each.
All labels: spec:aria, spec:accname, spec:core-aam, spec:dpub-aam, spec:dpub-aria, spec:graphics-aam, spec:graphics-aria, spec:html-aam, spec:svg-aam, spec:mathml-aam, spec:pdf-aam

list files
  .github/workflows/pdf-aam.yml
Labels: none

tries dir for gh only deploys
  .github/workflows/pdf-aam.yml
Labels: none

List pdf-aam sub dir
  .github/workflows/pdf-aam.yml
Labels: none

Supress aria.gh and aria-common dirs
  .github/workflows/pdf-aam.yml
Labels: none

built Index in source
  .github/workflows/svg-aam.yml
Labels: none

index in source for EDs only
  .github/workflows/pdf-aam.yml
  .github/workflows/svg-aam.yml
Labels: none

replace should with 'will'
  core-aam/index.html
Labels: spec:core-aam

Updates to SVG ED
  svg-aam/index.html
Labels: spec:svg-aam

explicits gh pages branch
  pdf-aam/index.html
Labels: spec:pdf-aam

no copy files step
  .github/workflows/pdf-aam.yml
Labels: none

1.0 version
  pdf-aam/index.html
Labels: spec:pdf-aam

try workflow
  pdf-aam/index.html
Labels: spec:pdf-aam

Typo in purpose to try workflow
  pdf-aam/index.html
Labels: spec:pdf-aam

tries new prettier
  .github/workflows/Update Preview Links.yaml
  common/script/update-preview-links.js
  core-aam/index.html
Labels: spec:core-aam

explicits gh pages branch
  pdf-aam/index.html
Labels: spec:pdf-aam

explicits gh pages branch
  .github/workflows/pdf-aam.yml
Labels: none

no gh pages branch
  .github/workflows/pdf-aam.yml
Labels: none

back to 1.0
  pdf-aam/index.html
Labels: spec:pdf-aam

1.1 with no copy files
  pdf-aam/index.html
Labels: spec:pdf-aam

Tries custom action for prettier
  .github/workflows/prettier.yaml
Labels: none

Back to how it is in upstream main
  pdf-aam/index.html
Labels: spec:pdf-aam

try workflow
  pdf-aam/index.html
Labels: spec:pdf-aam

New action
  .github/workflows/prettier.yaml
Labels: none

alternative diff method
  .github/workflows/prettier.yaml
Labels: none

New action
  .github/workflows/prettier.yaml
Labels: none

Tries custom action for prettier
  .github/workflows/prettier.yaml
Labels: none

alternative diff method
  .github/workflows/prettier.yaml
Labels: none

try workflow
  pdf-aam/index.html
Labels: spec:pdf-aam

update workflows and scripts
  .github/workflows/pdf-aam.yml
  .github/workflows/prettier.yaml
  .github/workflows/update-preview-links.yml
  common/script/updatePreviewLinks.js
Labels: none

Try preview link updates
  accname/index.html
  core-aam/index.html
Labels: spec:accname, spec:core-aam

Update script
  common/script/updatePreviewLinks.js
Labels: none

Update scripts
  .github/workflows/update-preview-links.yml
  common/script/updatePreviewLinks.mjs
Labels: none

node@latest
  .github/workflows/update-preview-links.yml
Labels: none

Try updating the pr body
  .github/workflows/update-preview-links.yml
Labels: none

update script and workflow
  .github/workflows/update-preview-links.yml
  common/script/updatePreviewLinks.mjs
Labels: none

revert spec changes
  accname/index.html
  core-aam/index.html
Labels: spec:accname, spec:core-aam

[editorial] Change back the id for AT definitions (#2579)
  index.html
Labels: spec:aria

[editorial] Change back the id for AT definitions (#2579)
  index.html
Labels: spec:aria

Update ARIAMixin to use new [Reflect] extended attribute
  index.html
Labels: spec:aria

Apply suggestions from code review
  core-aam/index.html
Labels: spec:core-aam

.github/labeler.yml:

spec:aria:
  - changed-files:
    - any-glob-to-any-file: 'index.html'

spec:accname:
  - changed-files:
    - any-glob-to-any-file: 'accname/**'

spec:core-aam:
  - changed-files:
    - any-glob-to-any-file: 'core-aam/**'

spec:dpub-aam:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aam/**'

spec:dpub-aria:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aria/**'

spec:graphics-aam:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aam/**'

spec:graphics-aria:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aria/**'

spec:html-aam:
  - changed-files:
    - any-glob-to-any-file: 'html-aam/**'

spec:svg-aam:
  - changed-files:
    - any-glob-to-any-file: 'svg-aam/**'

spec:mathml-aam:
  - changed-files:
    - any-glob-to-any-file: 'mathml-aam/**'

spec:pdf-aam:
  - changed-files:
    - any-glob-to-any-file: 'pdf-aam/**'
