Repository w3c/aria, changes with the labels that .github/labeler.yml gives for each.
All labels: spec:aria, spec:accname, spec:core-aam, spec:dpub-aam, spec:dpub-aria, spec:graphics-aam, spec:graphics-aria, spec:html-aam, spec:svg-aam, spec:mathml-aam, spec:pdf-aam

Remove Core-AAM UA requirement to disallow orphaned role context. (#2284)
  core-aam/index.html
Labels: spec:core-aam

edit to group def, implementing Valerie's suggetion
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

updated menu and menubar notes
  index.html
Labels: spec:aria

fix normative statements
  html-aam/index.html
Labels: spec:html-aam

fix copy/paste error
  html-aam/index.html
Labels: spec:html-aam

replaced group with specific acc desc with group as intervening
  index.html
Labels: spec:aria

Editorial: Add Cynthia Shelly as editor of SVG-AAM
  svg-aam/index.html
Labels: spec:svg-aam

Editorial: add Cynthia Shelly as Core-AAM editor
  core-aam/index.html
Labels: spec:core-aam

Implement AT guidance system for issue #1942
  README.md
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

Add transparent generic definition and update accessibility parent and child to reference it
  index.html
Labels: spec:aria

[html-aam] Set heading level based on HTML computed heading level
  html-aam/index.html
Labels: spec:html-aam

Update core-aam/index.html
  core-aam/index.html
Labels: spec:core-aam

Editorial fixes. Update note for fallback mechanism.
  core-aam/index.html
  index.html
Labels: spec:aria, spec:core-aam

Add non-normative reccomendation for assitive technologies to implement a repeat notification feature.
  index.html
Labels: spec:aria

editorial: definition of "host language" (#2563)
  index.html
Labels: spec:aria

editorial: definition of "host language" (#2563)
  index.html
Labels: spec:aria

Add context and strengthen suggestion for assistive technologies.
  index.html
Labels: spec:aria

Update core-aam/index.html
  core-aam/index.html
Labels: spec:core-aam

Update core-aam/index.html
  core-aam/index.html
Labels: spec:core-aam

fix typo & reference error
  index.html
Labels: spec:aria

Add clarity on node/this.
  index.html
Labels: spec:aria

Editorial: Removed aria-controls from the states and properties table for the combobox role to align with the combobox role definition. (#2583)
  index.html
Labels: spec:aria

Editorial: Removed aria-controls from the states and properties table for the combobox role to align with the combobox role definition. (#2583)
  index.html
Labels: spec:aria

editorial: add "focusable" to terms and reference it
  index.html
Labels: spec:aria

Editorial: Update ARIAMixin to use new [Reflect] extended attribute (#2587)
  index.html
Labels: spec:aria

initial commit
  accname/index.html
Labels: spec:accname

editorial: add "focusable" to terms and reference it (#2605)
  index.html
Labels: spec:aria

editorial: add "focusable" to terms and reference it (#2605)
  index.html
Labels: spec:aria

Update aria-expanded description to use author requirements, to avoid ambiguity.
  index.html
Labels: spec:aria

Editorial: Rephrase aria-expanded RFC-2119 requirements (#2609)
  index.html
Labels: spec:aria

Editorial: Rephrase aria-expanded RFC-2119 requirements (#2609)
  index.html
Labels: spec:aria

update combobox editor note wiki url
  index.html
Labels: spec:aria

Editorial: Issue2608 (#2610)
  index.html
Labels: spec:aria

Editorial: Issue2608 (#2610)
  index.html
Labels: spec:aria

Add requirement for the node to be exposed to the accessibility tree.
  core-aam/index.html
  index.html
Labels: spec:aria, spec:core-aam

Reference existing spec for excluding nodes.
  core-aam/index.html
  index.html
Labels: spec:aria, spec:core-aam

Remove reccomendation for ATs to allow history, this will be tracked in a separate issue.
  index.html
Labels: spec:aria

.github/labeler.yml:

spec:aria:
  - changed-files:
    - any-glob-to-any-file: 'index.html'

spec:accname:
  - changed-files:
    - any-glob-to-any-file: 'accname/**'

spec:core-aam:
  - changed-files:
    - any-glob-to-any-file: 'core-aam/**'

spec:dpub-aam:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aam/**'

spec:dpub-aria:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aria/**'

spec:graphics-aam:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aam/**'

spec:graphics-aria:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aria/**'

spec:html-aam:
  - changed-files:
    - any-glob-to-any-file: 'html-aam/**'

spec:svg-aam:
  - changed-files:
    - any-glob-to-any-file: 'svg-aam/**'

spec:mathml-aam:
  - changed-files:
    - any-glob-to-any-file: 'mathml-aam/**'

spec:pdf-aam:
  - changed-files:
    - any-glob-to-any-file: 'pdf-aam/**'
