Repository w3c/aria, changes with the labels that .github/labeler.yml gives for each.
All labels: spec:aria, spec:accname, spec:core-aam, spec:dpub-aam, spec:dpub-aria, spec:graphics-aam, spec:graphics-aria, spec:html-aam, spec:svg-aam, spec:mathml-aam, spec:pdf-aam

CORE-AAM: Update AX API's mapping for aria-multiselectable (#2526)
  core-aam/index.html
Labels: spec:core-aam

m. accidental whitespace correction
  accname/index.html
Labels: spec:accname

Update index.html
  index.html
Labels: spec:aria

Update specURLs for cross-reference links
  pdf-aam/index.html
Labels: spec:pdf-aam

normalize classes and their hrefs
  pdf-aam/index.html
Labels: spec:pdf-aam

Update accNameURLs
  pdf-aam/index.html
Labels: spec:pdf-aam

Update URLS based on Daniel's suggestion
  pdf-aam/index.html
Labels: spec:pdf-aam

Update accNameURLs
  pdf-aam/index.html
Labels: spec:pdf-aam

remove <div> wrapper in TDs for "Use WAI-ARIA mapping"
  pdf-aam/index.html
Labels: spec:pdf-aam

cleanup "Document" table
  pdf-aam/index.html
Labels: spec:pdf-aam

Fixx my confusion with object nesting in spec URLs
  pdf-aam/index.html
Labels: spec:pdf-aam

Add pdf aam to deploy previews
  common/script/pr-preview.sh
Labels: none

update Lbl table entries from PDF-AAM call
  pdf-aam/index.html
Labels: spec:pdf-aam

add arianotify draft
  index.html
Labels: spec:aria

add arianotify draft
  core-aam/index.html
Labels: spec:core-aam

chore: prettier
  core-aam/index.html
  index.html
Labels: spec:aria, spec:core-aam

rework to newest iteration of v1 proposla
  core-aam/index.html
  index.html
Labels: spec:aria, spec:core-aam

chore: prettier
  core-aam/index.html
Labels: spec:core-aam

s/iua/uia/
  core-aam/index.html
Labels: spec:core-aam

avoid "should"
  core-aam/index.html
Labels: spec:core-aam

Update disabled wording in the note.
  index.html
Labels: spec:aria

Update aria notify section with permissions policy section.
  index.html
Labels: spec:aria

Add xref for permissions-policy
  index.html
Labels: spec:aria

Update how permissions policy will impact the method steps.
  index.html
Labels: spec:aria

Fill in missing details and fix references.
  core-aam/index.html
  index.html
Labels: spec:aria, spec:core-aam

WIP! aria table heuristics
  html-aam/index.html
Labels: spec:html-aam

chore: prettier
  index.html
Labels: spec:aria

Allow comboboxes to invoke menus
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

Fix formatting
  html-aam/index.html
Labels: spec:html-aam

avoiding the irrelevant RFC-2119 term
  index.html
Labels: spec:aria

Change back dfn id
  index.html
Labels: spec:aria

clarifying existing live region announcement behavior on creation/rendering of new live regions (#2116)
  index.html
Labels: spec:aria

clarifying existing live region announcement behavior on creation/rendering of new live regions (#2116)
  index.html
Labels: spec:aria

Remove aria-controls from required scrollbar properties
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

Removed aria-controls from the states and properties table for the combobox role to align with the combobox role definition.
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

add svg accesssibility to task force
  w3c.json
Labels: none

tries dir for gh only deploys
  .github/workflows/pdf-aam.yml
Labels: none

.github/labeler.yml:

spec:aria:
  - changed-files:
    - any-glob-to-any-file: 'index.html'

spec:accname:
  - changed-files:
    - any-glob-to-any-file: 'accname/**'

spec:core-aam:
  - changed-files:
    - any-glob-to-any-file: 'core-aam/**'

spec:dpub-aam:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aam/**'

spec:dpub-aria:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aria/**'

spec:graphics-aam:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aam/**'

spec:graphics-aria:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aria/**'

spec:html-aam:
  - changed-files:
    - any-glob-to-any-file: 'html-aam/**'

spec:svg-aam:
  - changed-files:
    - any-glob-to-any-file: 'svg-aam/**'

spec:mathml-aam:
  - changed-files:
    - any-glob-to-any-file: 'mathml-aam/**'

spec:pdf-aam:
  - changed-files:
    - any-glob-to-any-file: 'pdf-aam/**'
