Repository w3c/aria, changes with the labels that .github/labeler.yml gives for each.
All labels: spec:aria, spec:accname, spec:core-aam, spec:dpub-aam, spec:dpub-aria, spec:graphics-aam, spec:graphics-aria, spec:html-aam, spec:svg-aam, spec:mathml-aam, spec:pdf-aam

.github/labeler.yml:

spec:aria:
  - changed-files:
    - any-glob-to-any-file: 'index.html'

spec:accname:
  - changed-files:
    - any-glob-to-any-file: 'accname/**'

spec:core-aam:
  - changed-files:
    - any-glob-to-any-file: 'core-aam/**'

spec:dpub-aam:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aam/**'

spec:dpub-aria:
  - changed-files:
    - any-glob-to-any-file: 'dpub-aria/**'

spec:graphics-aam:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aam/**'

spec:graphics-aria:
  - changed-files:
    - any-glob-to-any-file: 'graphics-aria/**'

spec:html-aam:
  - changed-files:
    - any-glob-to-any-file: 'html-aam/**'

spec:svg-aam:
  - changed-files:
    - any-glob-to-any-file: 'svg-aam/**'

spec:mathml-aam:
  - changed-files:
    - any-glob-to-any-file: 'mathml-aam/**'

spec:pdf-aam:
  - changed-files:
    - any-glob-to-any-file: 'pdf-aam/**'

specify 3.6.0
  .github/workflows/prettier.yaml
Labels: none

1.1 is now finished.
  dpub-aam/index.html
  dpub-aria/index.html
Labels: spec:dpub-aam, spec:dpub-aria

chore: prettier
  graphics-aam/index.html
  graphics-aria/index.html
  html-aam/index.html
  index.html
Labels: spec:aria, spec:graphics-aam, spec:graphics-aria, spec:html-aam

add to docs
  README.md
Labels: none

Uses custom action to run prettier on PRs and on pushes to main (#2564)
  .github/workflows/prettier.yaml
  README.md
Labels: none

Merge pull request #2504 from w3c/htmlaam-571
  index.html
Labels: spec:aria

chore: prettier
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

proposal for empty or non-matching id values to clarify author responsibilities
  index.html
Labels: spec:aria

Update index.html
  index.html
Labels: spec:aria

rebased on main
  svg-aam/index.html
Labels: spec:svg-aam

tentative fix
  svg-aam/index.html
Labels: spec:svg-aam

tentative
  index.html
Labels: spec:aria

tentative
  index.html
Labels: spec:aria

Editorial: Trying to trick prettier into running
  index.html
Labels: spec:aria

editorial: update documentation/process.md
  documentation/process.md
Labels: none

Update html-aam/index.html
  html-aam/index.html
Labels: spec:html-aam

Update html-aam/index.html
  html-aam/index.html
Labels: spec:html-aam

Editorial: Process updates to include ACT review (#2527)
  .github/pull_request_template.md
  documentation/process.md
Labels: none

1.1 is now finished.
  dpub-aam/index.html
  dpub-aria/index.html
Labels: spec:dpub-aam, spec:dpub-aria

Account for when there are no changes to commit
  .github/workflows/prettier.yaml
Labels: none

only runs on main
  .github/workflows/prettier.yaml
Labels: none

editorial: prettier updates (#2571)
  .github/workflows/prettier.yaml
Labels: none

UA SHOULD guidance for roles outside of required a11y parent role
  index.html
Labels: spec:aria

UA SHOULD guidance for roles outside of required a11y parent role (#2562)
  index.html
Labels: spec:aria

UA SHOULD guidance for roles outside of required a11y parent role (#2562)
  index.html
Labels: spec:aria

Test prettier
  index.html
Labels: spec:aria

Add suggested wording about html and the dirty flag
  html-aam/index.html
Labels: spec:html-aam

Editorial: run prettier locally to ensure consistency (#2572)
  index.html
Labels: spec:aria

Editorial: run prettier locally to ensure consistency (#2572)
  index.html
Labels: spec:aria

tentative fix
  svg-aam/index.html
Labels: spec:svg-aam

proposal for empty or non-matching id values to clarify author responsibilities
  index.html
Labels: spec:aria

rebased on main
  svg-aam/index.html
Labels: spec:svg-aam

Update index.html
  index.html
Labels: spec:aria

draft svg
  svg-aam/index.html
Labels: spec:svg-aam

Update index.html
  index.html
Labels: spec:aria

tentative
  index.html
Labels: spec:aria

tentative
  index.html
Labels: spec:aria

chore: prettier
  index.html
Labels: spec:aria

Update AX API mapping for aria-multiselectable
  core-aam/index.html
Labels: spec:core-aam
