Repository w3c/aria, pull requests merged in 2019-07, with the labels that each got.

#951 Issue504 description list roles
  index.html
Labels: Agenda

#805 initial draft for role="generic" issue #699
  index.html
Labels: Agenda, WIP

#997 [editorial] removed obsolete references. Resolves #983
  index.html
Labels: editorial
