Repository w3c/aria, pull requests merged in 2019-10, with the labels that each got.

#1061 Remove roledescription examples
  index.html
Labels: editorial

#1064 space delimited -> space-separated
  index.html
Labels: editorial

#1077 remove stray /a> after HTML link
  index.html
Labels: editorial

#1060 Editorial: Add landmark language to definitions
  index.html
Labels: editorial

#1037 remove should from tooltip
  index.html
Labels: editorial

#924 feat: aria-brailleroledescription
  index.html
Labels: Agenda

#1069 removes the old default aria-checked value from properties table
  index.html
Labels: Agenda

#1090 clarify use of alertdialog over alert roles
  index.html
Labels: ARIA 1.2, editorial

#1075 Merge once Meter hits stable: Move Meter from widget list to structure list
  index.html
Labels: editorial
