Repository w3c/aria, pull requests merged in 2020-03, with the labels that each got.

#1142 prohibit aria-roledescription from role=generic
  index.html
Labels: ARIA 1.2

#923 feat: aria-braillelabel
  index.html
Labels: ARIA 1.3, WIP

#1181 don't recommend role="none presentation"
  index.html
Labels: WR comments
