Repository w3c/aria, pull requests merged in 2024-02, with the labels that each got.

#2080 Update "Hidden from all users" term definition's prepositional usage ("to"->"for")
  index.html
Labels: editorial

#2053 Tabpanel relationships - editorial change ("either by ... or by ..." replaced with "by ... and/or by")
  index.html
Labels: editorial

#2120 Includes relevant changes from #2102
  index.html
Labels: editorial

#2103 Editorial: Add Daniel to editor's list
  index.html
Labels: editorial

#1876 Align ARIAMixin with changes in HTML
  index.html
Labels: Agenda

#2076 Editorial: move img def to image
  index.html
Labels: editorial, Agenda-Editors

#1812 restrict aria-owns on roles with children presentational
  index.html
Labels: Author Tests, clarification
