Repository w3c/aria, pull requests merged in 2024-08, with the labels that each got.

#2302 [Editorial] remove duplicate mapping block
  accname/index.html
Labels: editorial

#2311 Editorial: Mark directory as deprecated in Core-AAM
  core-aam/index.html
Labels: editorial, spec:core-aam

#2275 [html-aam] - UIA input mappings cleanup
  html-aam/index.html
Labels: spec:html-aam

#2278 [html-aam] fix ax iframe mapping
  html-aam/index.html
Labels: spec:html-aam

#2291 [html-aam] - browser repair for a no href
  html-aam/index.html
Labels: spec:html-aam

#2317 Editorial: Update docs with PR label guidance
  documentation/process.md
Labels: editorial
