Repository w3c/aria, pull requests merged in 2024-10, with the labels that each got.

#2307 Editorial: Handle PRs from forks
  .github/workflows/prettier.yaml
Labels: Agenda-Editors

#2321 Editorial: Add ./github/labeler
  .github/labeler.yml
  .github/workflows/labeler.yaml
Labels: editorial, Agenda-Editors

#2356 initial (mostly empty) PDF-AAM doc
  .github/labeler.yml
  pdf-aam/.pr-preview.json
  pdf-aam/README.md
  pdf-aam/index.html
Labels: editorial

#2138 [Draft] Enables respec darkmode
  index.html
Labels: editorial, Agenda-Editors, spec:aria
