Repository w3c/aria, pull requests merged in 2024-11, with the labels that each got.

#2372 Editorial: minor text updates to html aam
  html-aam/index.html
Labels: spec:html-aam

#2362 [core-aam] add new AX API mappings for colindextext/rowindextext
  core-aam/index.html
Labels: 1.3-Blocking, spec:core-aam

#2319 Editorial: Add naming and labeling conventions to PR template
  .github/pull_request_template.md
Labels: editorial

#2370 Editorial: Add editor W3Cids
  pdf-aam/index.html
Labels: editorial, spec:pdf-aam

#2308 Add `class` and `id` mappings
  html-aam/index.html
Labels: spec:html-aam

#2380 Editorial: respec fixes re: refs and metatadata titles
  pdf-aam/index.html
Labels: editorial, spec:pdf-aam

#2379 editorial: Update changelog
  core-aam/index.html
Labels: editorial, spec:core-aam
