Repository w3c/aria, pull requests merged in 2024-12, with the labels that each got.

#2393 Editorial: fix minor copypasta: s/superscript/subscript/
  index.html
Labels: editorial, ARIA 1.3, spec:aria

#1880 prevent use of aria-hidden=true on document root elements
  index.html
Labels: waiting for implementations, spec:aria

#2054 Update dialog definition
  index.html
Labels: spec:aria

#2288 Editorial: Adds script to get ARIA participants and Respec gh-contributors functionality to the specs that did not have it
  accname/index.html
  common/script/participants.js
  core-aam/index.html
  dpub-aam/index.html
  dpub-aria/index.html
  graphics-aam/index.html
  graphics-aria/index.html
  html-aam/index.html
  index.html
  mathml-aam/index.html
  svg-aam/index.html
Labels: editorial, Agenda-Editors

#2213 [html-aam PR 539] add obsolete dir element
  html-aam/index.html
Labels: spec:html-aam

#2392 [Core-AAM] Update searchbox mapping for ATK/AT-SPI2 to match IA2
  core-aam/index.html
Labels: spec:core-aam

#2326 Make aria-relevant and ariaRelevant reflect
  index.html
Labels: spec:aria
