Repository w3c/aria, pull requests merged in 2024-06, with the labels that each got.

#2244 Editorial - Fixed wrong closing `</p>` tag on line 6265 that is causing the "Prettier / prettier (pull_request)" check to fail.
  index.html
Labels: editorial, spec:aria

#2169 Editorial: Small fixes for the validator tests README
  validator-tests/README.md
Labels: editorial, spec:aria

#2250 Editorial: Add new MathML editor Neil Soiffer
  mathml-aam/index.html
Labels: spec:mathml-aam

#2201 [core-aam PR 212] [Editorial] Updates status for referenced documents
  core-aam/index.html
Labels: spec:core-aam

#2219 [html-aam PR 481] add/revise popover related attribute mappings
  html-aam/index.html
Labels: spec:html-aam

#2220 [html-aam PR 454] Define concept of minimum role
  html-aam/index.html
Labels: spec:html-aam
