Repository w3c/aria, pull requests merged in 2025-02, with the labels that each got.

#2056 Editorial: Provide examples of types of menus
  index.html
Labels: editorial, Agenda-Editors, spec:aria

#2428 add note to img alt="" table
  html-aam/index.html
Labels: spec:html-aam

#2305 Editorial: Make specURLs consistent and fix some respec warnings
  accname/index.html
  core-aam/index.html
  dpub-aam/index.html
  dpub-aria/index.html
  graphics-aam/index.html
  graphics-aria/index.html
  html-aam/index.html
  index.html
  mathml-aam/index.html
  svg-aam/index.html
Labels: editorial, spec:core-aam, spec:aria, spec:html-aam, spec:accname, spec:mathml-aam, spec:dpub-aria, spec:dpub-aam, spec:graphics-aria, spec:graphics-aam, spec:svg-aam

#2094 Remove group as allowed child of tree
  index.html
Labels: Agenda, spec:aria

#2446 editorial: typo, comformance -> conformance
  core-aam/index.html
Labels: editorial, spec:core-aam

#2297 Remove name required from alertdialog, dialog, form, grid, radiogroup, table
  index.html
Labels: Agenda, spec:aria

#2425 editorial: doc-pagelist section has been moved in the correct alphabetical-order
  dpub-aria/index.html
Labels: editorial, spec:dpub-aria

#2457 Editorial: companyURI -> companyURL
  graphics-aria/graphics2.html
  html-aam/index.html
  index.html
  requirements/aria-requirements.html
  svg-aam/index.html
Labels: editorial, spec:aria, spec:html-aam, spec:graphics-aria, spec:svg-aam

#2453 Editorial: update editor affiliation and implementation report
  dpub-aam/index.html
  dpub-aria/index.html
Labels: spec:dpub-aria, spec:dpub-aam
