Repository w3c/aria, pull requests merged in 2025-09, with the labels that each got.

#2590 Editorial: fix normative statements
  html-aam/index.html
Labels: editorial, spec:html-aam

#2619 Editorial: Prettier updates -- Compare with previous commit to ensure it picks up changes
  .github/workflows/prettier.yaml
Labels: editorial

#2620 editorial: reformat roleInfo.js
  common/script/roleInfo.js
Labels: editorial

#2635 editorial: correct i18n example in aria-shortcuts
  index.html
Labels: editorial, spec:aria

#2624 editorial: update roleInfo.js (manually)
  common/script/roleInfo.js
Labels: editorial

#2646 Remove TR uris for aria practices guide and make some prose adjustments
  accname/index.html
  core-aam/index.html
  dpub-aam/index.html
  dpub-aria/index.html
  graphics-aam/index.html
  graphics-aria/index.html
  html-aam/index.html
  index.html
  mathml-aam/index.html
  pdf-aam/index.html
  svg-aam/index.html
Labels: spec:core-aam, spec:aria, spec:html-aam, spec:accname, spec:mathml-aam, spec:dpub-aria, spec:dpub-aam, spec:graphics-aria, spec:graphics-aam, spec:svg-aam, spec:pdf-aam
