Repository w3c/aria, pull requests merged in 2025-04, with the labels that each got.

#2505 Editorial: remove vague meaningful and parenthetical example (clone #2069)
  index.html
Labels: spec:aria

#2354 Add command & commandfor attribute related mappings
  html-aam/index.html
Labels: spec:html-aam

#2503 editorial: update html-aam note
  accname/index.html
Labels: editorial, spec:accname

#2506 editorial: tidying up "Characteristics of Roles"
  index.html
Labels: spec:aria

#2500 Normative update: if a tab is active a corresponding tabpanel must be rendered
  index.html
Labels: spec:aria

#1980 Editorial: Clarify aria-expanded guidance
  index.html
Labels: clarification, spec:aria
