Repository w3c/aria, pull requests merged in 2025-05, with the labels that each got.

#2408 editorial: refactor aria.js
  common/script/aria.js
  common/test.sh
Labels: editorial

#1996 Editorial: aria-controls spec update
  index.html
Labels: editorial, clarification, spec:aria

#2530 Clarification: include aria-placeholder in accName steps for HTML input elements
  html-aam/index.html
Labels: clarification, spec:html-aam

#2207 [accname PR 236] Editorial: Renaming LabelledBy Recursion since it's not recursive.
  accname/index.html
Labels: spec:accname

#2419 Add "Name from Content" accname step for ::marker pseudo-element
  accname/index.html
Labels: spec:accname

#2535 Editorial: Dpub editorials
  .github/workflows/prettier.yaml
  dpub-aam/index.html
  dpub-aria/index.html
Labels: spec:dpub-aria, spec:dpub-aam

#2105 Editorial: add valuetype column to ariamixin correspondance table
  index.html
Labels: editorial, spec:aria

#2395 Editorial: Clarify / make consistent naming steps for HTML form controls
  html-aam/index.html
Labels: editorial, spec:html-aam

#2541 Editorial: de-duplicate table, fixing build
  index.html
Labels: spec:aria
