Repository w3c/aria, pull requests merged in 2025-03, with the labels that each got.

#2410 editorial: revise custom stylesheets
  accname/index.html
  common/css/common.css
  common/css/editors.css
  common/css/mapping-tables.css
  common/css/slices.css
  core-aam/css/core-aam.css
  core-aam/index.html
  dpub-aam/index.html
  dpub-aria/index.html
  graphics-aam/index.html
  graphics-aria/graphics2.html
  graphics-aria/index.html
  html-aam/css/html-aam.css
  html-aam/index.html
  index.html
  mathml-aam/index.html
  pdf-aam/index.html
  requirements/aria-requirements.html
  svg-aam/index.html
Labels: editorial, Agenda-Editors, spec:core-aam, spec:aria, spec:html-aam, spec:accname, spec:mathml-aam, spec:dpub-aria, spec:dpub-aam, spec:graphics-aria, spec:graphics-aam, spec:svg-aam, spec:pdf-aam

#2459 Editorial: Add back the superclass role for doc-biblioentry
  dpub-aria/index.html
Labels: spec:dpub-aria

#2465 Editorial: Fix typo (command role)
  index.html
Labels: spec:aria

#2464 editorial: activate prettier for ARIA
  .github/workflows/prettier.yaml
  .prettierignore
  accname/index.html
  core-aam/index.html
  dpub-aria/index.html
  graphics-aria/index.html
  html-aam/index.html
  index.html
  pdf-aam/index.html
Labels: spec:core-aam, spec:aria, spec:html-aam, spec:accname, spec:dpub-aria, spec:graphics-aria, spec:pdf-aam

#2471 Editorial: remove erroneous li
  index.html
Labels: editorial, spec:aria

#2385 [accname] Explicitly state UAs must ignore “aria-label” for slots
  accname/index.html
Labels: Agenda, spec:accname

#2472 Editorial: normalize “browsers” to “user agents”
  index.html
Labels: spec:aria

#2405 Tentative: update point E. Host Language Label of the Acc Name algorithm
  accname/index.html
Labels: Agenda, spec:accname

#2468 Editorial: Add deprecated to aria-dropeffect
  accname/index.html
  core-aam/index.html
  index.html
Labels: spec:core-aam

#2477 editorial: update links fix typos
  accname/index.html
  common/terms.html
  index.html
Labels: editorial, spec:aria, spec:accname

#2482 use `css` class for highlighting css code examples
  index.html
Labels: spec:aria

#2495 editorial: remove two outdated files
  graphics-aria/graphics2.html
  requirements/aria-requirements.html
Labels: editorial, spec:graphics-aria

#2420 Editorial: Update accname spec link for CSS ::after and ::before documentation
  accname/index.html
Labels: spec:accname

#2199 [core-aam PR 230] Update aria-labelledby AXAPI mapping to use AXTitle
  core-aam/index.html
Labels: spec:core-aam

#2498 Editorial: Updated list styles
  accname/index.html
Labels: editorial, spec:accname
