Repository w3c/aria, pull requests merged in 2025-07, with the labels that each got.

#2527 Editorial: Process updates to include ACT review
  .github/pull_request_template.md
  documentation/process.md
Labels: needs ACT review

#2571 editorial: prettier updates
  .github/workflows/prettier.yaml
Labels: editorial

#2562 UA SHOULD guidance for roles outside of required a11y parent role
  index.html
Labels: spec:aria

#2224 [html-aam PR 359] Change figure & figcaption accName computation
  html-aam/index.html
Labels: waiting for implementations, spec:html-aam

#2350 Clarifications for HTML's autocomplete and aria-autocomplete
  html-aam/index.html
Labels: spec:html-aam
