Repository w3c/aria, pull requests merged in 2025-08, with the labels that each got.

#2587 Editorial: Update ARIAMixin to use new [Reflect] extended attribute
  index.html
Labels: Agenda, spec:aria

#2605 editorial: add "focusable" to terms and reference it
  index.html
Labels: spec:aria

#2610 Editorial: Issue2608
  index.html
Labels: spec:aria

#2592 Editorial: add Cynthia Shelly as Core-AAM editor
  core-aam/index.html
Labels: spec:core-aam

#2581 Remove aria-controls from required scrollbar properties
  index.html
Labels: spec:aria
